.Account-Setup {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    width: 1440px;
    background-color: #ffffff;
  }
body {
    margin: 0px;
}
.Display-plus {
  display: flex;
  flex-direction: column;
}

